.centertext{
    left: 50%;
    top: 30%;
    width: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    /* background-color: wheat; */
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h1{
    font-size: 2.35rem;
}
.centertextbutton{
    position: relative;
    transform: translate(-50%);
    font-size: 1rem;
    border-radius: 4rem;
    left: 50%;
    width: 30%;
    /* border: 0rem ; */
    border: none;
    color: white;
    outline: none;
    background-color: #0D1A2D;
    padding-inline: 0.8rem;
    padding-block: 0.8rem;
   
   
}
