.row {
  display: flex;
  align-items: center;
  gap: 20px;
  
  margin-bottom: 14px;
}

.label {
  width: 120px;
  font-weight: 500;
}

.dots {
  display: flex;
  gap: 8px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #dceaf2;
}

.dot.active {
  background: #2bb0e6;
}

.count {
  font-weight: 600;
}
