.navbar{
    height: 10vh;
    background-color:beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    /* background-color: red; */
}

.left{
    width: 20%;
}
h3{
    font-size: 2.2rem;
}
.centerbar{
    width: 45%;
    /* background-color: rebeccapurple; */
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    gap: 3rem;
}