.navbar{
    height: 10vh;
    /* background-color:beige; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    /* background-color: red; */
}

.left{
    width: 20%;
}
h3{
    font-size: 2.2rem;
    font-weight: 600;
}
.centerbar{
    width: 45%;
    /* background-color: rebeccapurple; */
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    gap: 3rem;
}

.about button{
    border: 1px solid rgb(207, 206, 206);
    border-radius: 4rem;
    padding-inline: 0.6rem;
    padding-block: 0.2rem;
    background-color: transparent;
    /* border:none ; */
}

.book button{
    background-color: #0D1A2D;
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.5rem;
    border-radius: 5rem;
}