.second{
    width: 96vw;
    height: 100vh;
    /* background-color: black; */
    margin-top: 2rem;
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* text-align: center; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.secondtop{
    /* background-color: gray; */
    width: 100%;
    color: black;
    height: 20%;
    display: flex;
    /* background-color: #fff; */
}
.stleft{
    width: 50%;
    padding-left: 2rem;
    padding-top: 0.5rem;
}

.stleft button{
    border: none;
    padding-inline:0.6rem ;
    background-color: white;
    border: 1px solid grey;
    border-radius: 4rem;
    padding-block:0.4rem ;
    opacity: 0.9;
    font-size: 0.9rem;
}

.stright{
    width: 50%;
    opacity: 0.8;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
}

.secondmid{
    width: 100%;
    height: 56%;
    /* background-color: rebeccapurple; */
    display: flex;
    
    justify-content: space-between;
}

.sm{
    height: 100%;
    width: 30%;
    border-radius: 2rem;

}
.smleft{
    color: white;
    background-color: #0D1A2D;
}
.smleft p{
    position: relative;
    top: 30%;
    padding-inline: 1.5rem;

    font-size: 1.7rem;
}
.spangrey{
        color: gray;
}
.smlbutton{
    position: relative;
    bottom: -35%;
    left: 1.5rem;
    width: 4rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: #2EB3FF;
    display: flex;
    justify-content: end;
    align-items: center;
    /* z-index: 0; */
}
.circle{
    margin-right: 0.4rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    background-color: white;
    border-radius: 50%;
}
.cc{
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background: #2EB3FF;
}

.smlbottomtext{
    position: relative;
    bottom: -25%;
    left: 6rem;
    color: gray;
    opacity: 0.7;
    font-size: 1.3rem;
}



.smmid{
  
    background-image: url(https://plus.unsplash.com/premium_photo-1670002272491-3d3f8f5c00a5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YmFkbWludG9ufGVufDB8fDB8fHww);
    
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: -1; */
}






.smright{
  
    background-color: #F6F8FC;
    padding-inline:2rem ;
    padding-top: 2rem;
}

.smright h1{
    font-size: 4.5rem;
    font-weight: 500;
}
.smright h4{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.smright p{
    
    opacity: 1;
    color: gray;

}
.dot1{
    margin-top: 2rem;
}




.secondbottom{
    height: 25%;
    width: 100%;
    /* background-color: cadetblue; */
    /* text-align: center; */
    display: flex;
    padding-inline:15rem ;
    justify-content: space-between;
    padding-block-start: 3rem;
    opacity: 0.9;
}
.num{
    text-align: center;
}
.num h1{
    font-weight: 600;
}

