.glass-btn {
  padding: 10px 22px;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.35);
  color: #fff;

  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  outline: none;
}
